:root {
    --start-video-progress-width: 0;
    --current-video-progress-width: 100%;
    --start-audio-progress-width: 0;
    --current-audio-progress-width: 100%;
    --bottom-bar-height: 50px;
    --blue-color: #00b2ff;
    --background-blue-color: rgb(235, 249, 255);
    --font-color: #4a5764;
}

h3 {
    font-weight: 300;
}

#app {
    display: none;
}

.emscripten {
    text-align: center;
}

body {
    background-color: var(--background-blue-color);
    font-family: sans-serif;
    margin: 0;
}

.hide-volume {
    visibility: hidden;
}

.vlc-link {
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 50px;
    text-align: right;
    color: var(--font-color);
}

#canvas {
    border:0 !important;
    box-shadow: 0px 0px 6px 0px;
    border-radius: 6px;
    display: flex;
    margin: 0 auto;
    background-color: #000;
}

#overlay {
    border:0 !important;
    display: flex;
    margin: 0 auto;
}

.p-overlay {
    margin: 0 auto;
    flex-direction: column;
    position: relative;
    top: -720px;
    color: white;
    width: 1280px;
    height: 720px;
}

.title {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 30px;
}

.main-title {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--font-color);
    font-weight: 300;
    width: 200px;
    margin: auto;
}

.play-button {
    animation: showButton 0.5s normal forwards;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - var(--bottom-bar-height));
    width: 100%;
}

.hide-button {
    animation: hideButton 0.5s normal forwards;
}

@keyframes showButton {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hideButton {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.play-button > div {
    background-color: var(--blue-color);
    border: 0;
    padding: 10px;
    border-radius: 100%;
    opacity: 0.9;
    transform: translate(-50%, 0);
    transition: 0.3s;
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.play-button > div > svg {
    fill: white;
    width: 18px;
    height: 18px;
    position: relative;
    left: 2px;
    align-self: center;
}

.eject-svg > div > svg {
    fill: white;
    width: 15px;
    height: 15px;
    position: relative;
    left: 0px;
    align-self: center;
}

.bottom-bar {
    animation: show 0.5s normal forwards;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: var(--bottom-bar-height);
    border-radius: 0 0 5px 5px;
    display: flex;
    background-color : hsla(0,0%,0%,0.77);
}

.hide-bottom-bar {
    animation: hide-bar 0.5s normal forwards;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes hide-bar {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.bottom-bar-play-button {
    flex: 1 1 0;
    margin: auto;
    height: 100%;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.file-picker {
    visibility: hidden;
    margin: auto;
    width: 100%;
}

.bottom-bar-play-button:hover:after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 0;
    left: 23px;
    top: 10px;
    background-color: var(--blue-color);
}

.bottom-bar-play-button-svg {
    width: 20px;
    margin: auto;
    height: 18px;
    z-index: 2;
    fill: white;
}

.bottom-bar-eject-button-svg {
    width: 16px;
    margin: auto;
    height: 15px;
    z-index: 2;
    fill: white;
}

.bottom-progress-bar {
    margin: auto;
    flex: 12 1 0;
}

.bottom-progress {
    width: 100%;
    margin-bottom: 4px;
    align-self: center;
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0;
    display: flex;
    height: 6px;
}

.progress-zone {
    display: flex;
    cursor: pointer;
    height: 20px;
    width: 97%;
}

.bottom-progress-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: var(--blue-color);
    height: 5px;
    width: var(--current-video-progress-width);
}

.bottom-progress-volume {
    align-self: center;
    background: rgba(255,255,255,0.1);
    height: 6px;
    width: 100%;
    max-width: 100px;
    cursor: pointer;
}

.bottom-progress-volume-value {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: var(--blue-color);
    height: 5px;
    width: var(--current-audio-progress-width);
}

.gitlab-logo {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.bottom-bar-timer {
    margin: auto;
    flex: 1 1 0;
    font-size: small;
}

.bottom-bar-volume {
    margin: auto 30px auto 0;
    height: 100%;
    flex: 2 1 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.volume-svg-wrapper {
    display: flex;
    width: 30px;
    height: 100%;
    cursor: pointer;
    align-self: center;
    align-items: center;
    justify-self: center;
}

.bottom-bar-volume > div > svg {
    width: 18px;
    height: 18px;
    z-index: 2;
    fill: white;
}

.volume-svg-wrapper:hover:after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 3px;
    position: absolute;
    z-index: 0;
    right: 154px;
    top: 10px;
    background-color: var(--blue-color);
}

#stack {
    margin: auto;
    width: 1280px;
    height: 720px;
}

#spinner {
    display: none;
}

#status {
    display: none;
}

#progress {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 64px;
    height: 64px;
}

#em_logo {
    position: absolute;
    width: 200px;
    height: 80px;
}

#point {
    color: #fff;
    font-size: 60px;
}

#js {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vlc_head {
    flex: 1 1 0px;
}

.hidden {
    display: none;
}

#fpicker_btn {
    margin: 40px auto;
    display: block;
    font-size: 16px;
    text-align: center;
    border: 1px dashed var(--font-color);
    border-radius: 3px;
}

.lds-roller {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--font-color);
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type=file] {
    width: 300px;
    max-width: 100%;
    color: var(--font-color);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--font-color);
}

input[type=text] {
    color: black;
    height: 23px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--font-color);
}

.menu-button {
    margin-right: 20px;
    border: none;
    background: var(--blue-color);
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.menu-button:hover {
    background: #378fb4;
}


input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--blue-color);
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #378fb4;
}


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  width: 70%;
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input[type=checkbox]
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: var(--font-color);
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  margin: -73px 0 0 -46px;
  padding: 38px;
  padding-left: 100px;

  background-color: rgb(189 208 217);
  border-radius: 5px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}